<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link href="../css/report.css" rel="stylesheet"/>
    <title>Honey Creek Anniversary Party Moderator's Page</title>
</head>
<body>
<div>
    <table class="report">
    <tr>
        <th>Name</th><th>Affiliation</th><th>Email</th><th>Address1</th><th>Address2</th><th>City</th><th>State</th><th>ZIP</th><th>Is Attending</th><th>Guest Count</th>
    </tr>
    {{#each users}}
        <tr>
            <td>{{name}}</td><td>{{affiliation}}</td><td>{{email}}</td><td>{{address1}}</td><td>{{address2}}</td><td>{{city}}</td><td>{{state}}</td><td>{{zip}}</td><td>{{isAttending}}</td><td>{{guests}}</td>
        </tr>
    {{/each}}
    </table>
</div>

</body>

</html>