<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link href="../css/report.css" rel="stylesheet"/>
    <title>Honey Creek Anniversary Party Moderator's Page</title>
</head>
<body>
<div>
    <table class="report">
    <tr>
        <th>Name</th><th>Affiliation</th><th>Email</th><th>Address1</th><th>Address2</th><th>City</th><th>State</th><th>ZIP</th><th>Is Attending</th><th>Guest Count</th>
    </tr>
    {{#each users}}
        <tr>
            <td>{{name}}</td><td>{{affiliation}}</td><td>{{email}}</td><td>{{address1}}</td><td>{{address2}}</td><td>{{city}}</td><td>{{state}}</td><td>{{zip}}</td><td>{{isAttending}}</td><td>{{guests}}</td>
        </tr>
    {{/each}}
    </table>
    <!--<button>Export to CSV</button>-->
</div>

</body>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/table2CSV.js"></script>
<script>
    //thanks to https://odoepner.wordpress.com/2012/04/09/export-to-html-table-as-csv-file-using-jquery/
    $(document).ready(function(){
        $('table').each(function () {
            var $table = $(this);

            var $button = $("<button type='button'>");
            $button.text("Export to spreadsheet");
            $button.insertAfter($table);

            $button.click(function () {
                var csv = $table.table2CSV({
                    delivery: 'value'
                });
                window.location.href = 'data:text/csv;charset=UTF-8,'
                        + encodeURIComponent(csv);
            });
        });
    });

</script>
</html>